.cart-item {
   width: 100%;
   padding: 10px 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   &__price {
      display: flex;
      align-items: center;
   }
   &__delete {
      cursor: pointer;
      color: red;
      margin-left: 10px;
   }
}
